// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";



.main-container {
  display: flex;
}

.show img {
  width: 550px;
  height: 450px;
}
