<footer class="footer-distributed">


  <div class="footer-center text-left">

    <ul class="list-unstyled">

      <li>
        <div>
        <i class="fa fa-map-marker"></i>
        <p><span>21 rue du Mulet</span> Tourcoing, France</p>
        </div>
      </li>

      <li>
        <div>
          <i class="fa fa-phone"></i>
          <p>+06 68 83 46 53</p>
        </div>


      <li>
        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@rentabolide.com">support@rentabolide.com</a></p>
        </div>
      </li>

    </ul>

  </div>



  <div class="footer-left">

    <%= image_tag "logo_rent_a_bolide_3.svg" %>

    <p class="footer-links">
      <a href="#">Accueil</a>
      ·
      <a href="#">Mes locations</a>
      ·
      <a href="#">A propos</a>
      ·
      <a href="#">Faq</a>
      ·
      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name zeub">Rent A Bolide &copy; 2018</p>
    <br>
    <div>
        <a href="https://www.facebook.com/lesJackyTuning/"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
        <a href="https://twitter.com/jackytuningfr"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/patrick-sebastien-520503150/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/claire-gtr/rentabolide"><i class="fab fa-github"></i></a>
    </div>
  </div>

  <div class="footer-right">
    <div>
      <audio controls>
        <source src="../assets/techno_tuning.mp3" type="audio/mp3" />
      </audio>
    </div>
    <br>

    <p class="footer-company-about">
      <span>A propos de nous</span>
      Créé par des fans de tuning, pour des fans de tuning
    </p>

    </div>
</footer>
