.banner {
  color: white;

  height: calc(100vh);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;

}
.banner h1 {
  font-size: 70px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner-content {
  width: 1000px;
  padding-bottom: 150px;
  padding-left: 50px;
}

.banner-content span {
  font-size: 100px;
  font-family: 'Montserrat Subrayada', sans-serif;
}

.banner-content .spanX {
  font-size: 200px;
  font-family: 'Montserrat Subrayada', sans-serif;
}

.mulet {
  width: 350px;
  height: 350px;

  @keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
}

.mulet img {
    animation: blink 0.4s;
    animation-iteration-count: infinite;
}
