.marker-content {
  height: 100px;
  width: 200px;
  border-radius: 15px;
  border-color: red
}

.car-name {
 text-align: center;
 font-size: 17px;
 padding-top: 10px
}

.btn-marker {
  padding-right: 70px;
  padding-left: 80px

}
