<div class="marker-content">
  <div class="car-name">
   <%= car.name %>
  </div>
  </br>
  <div class="btn-marker">
    <%=link_to "VOIR", car_path(car), class: "btn btn-success btn-sm" %>
  </div>
</div>
