<div class="container">
  <div class="cards-container">
    <div class="row">
      <h2>Nouveau bolide</h2>
      <%= render 'form' %>
      <br>
      <%= link_to 'Retour', root_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>
